.mainContainer {
  width: auto;
  height: 900px;
  background-position: top;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url('../../public/images/bodybuilderhome1.png');
}

.mainText {
  color: white;
  width: 100px;
  height: auto;
  padding: 30rem 0 4rem 4rem;
  text-align: center;
}
